* {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#root {
  height: var(--app-height);
}

.fill-screen {
  height: auto;
  max-height: calc(var(--app-height) - 1px);
}

.fade-in {
  animation: fadein 0.3s;
  -webkit-animation: fadein 0.3s;
}

.fade-out {
  animation: fadein 0.3s;
}

.font-websafe {
  font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
