* {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

#root {
  height: var(--app-height);
}

.fill-screen {
  height: calc(var(--app-height) - 1px);
}

.fade-in {
  animation: fadeIn 200ms;
  -webkit-animation: fadeIn 200ms;
}

.fade-out {
  animation: fadeOut 200ms;
  -webkit-animation: fadeOut 200ms;
}

.slide-down {
  animation: slideDown 200ms;
  -webkit-animation: slideDown 200ms;
}
.slide-up {
  animation: slideUp 200ms;
  -webkit-animation: slideUp 200ms;
}

.font-websafe {
  font-family: Roboto, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
